@model HospitalScheduling.Models.PastShifts

@{
    ViewData["Title"] = "Delete";
    ViewData["Active"] = "PastShifts";
}


<div class="hero-wrap" style="background-image: url('images/bg_6.jpg'); background-attachment:fixed;height:200px">
    <div class="overlay"></div>
    <div class="container" style="height:200px">
        <div class="row no-gutters slider-text align-items-center justify-content-center" style="height:200px" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center fadeInUp ftco-animated">
                <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index" asp-controller="Home">Home</a></span> <span>Doctors - @ViewData["Title"]</span></p>
                <h1 class="mb-3 bread">PastShifts - @ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>
<br />
<center>
    <h1 style="font-size:10em">Are you <b>REALLY</b> sure you want to delete this?</h1>
    <br />


    <form asp-action="Delete">
        <input type="hidden" asp-for="DoctorID" /> 
        <input asp-action="Delete" value="Delete" type="submit" asp-route-id="@Model.DoctorID" class="btn btn-danger"/>
        <a asp-action="Delete" asp-route-id="@Model.DoctorID" class="btn btn-info">Back</a>
    </form>
    <br />
</center>
