@{
    ViewData["Title"] = "Specialities: Not Found";
    ViewData["Active"] = "Doctors";
}


<div class="hero-wrap" style="background-image: url('images/bg_6.jpg'); background-attachment:fixed;height:200px">
    <div class="overlay"></div>
    <div class="container" style="height:200px">
        <div class="row no-gutters slider-text align-items-center justify-content-center" style="height:200px" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center fadeInUp ftco-animated">
                <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index" asp-controller="Home">Home</a></span> <span>@ViewData["Active"] - @ViewData["Title"]</span></p>
                <h1 class="mb-3 bread">@ViewData["Active"] - @ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>
<br />
<center>
    <div>
        <h1>List of specialities for this doctor not found</h1>
    </div>
    <br />
    <div>
        <a asp-action="Index" asp-controller="Doctors" class="btn btn-info">Back to List</a>
    </div>
    <br />
</center>