@model HospitalScheduling.Models.Speciality

@{
    ViewData["Title"] = "Create";
    ViewData["Active"] = "Specialities";
}

<div class="hero-wrap" style="background-image: url('images/bg_6.jpg'); background-attachment:fixed;height:200px">
    <div class="overlay"></div>
    <div class="container" style="height:200px">
        <div class="row no-gutters slider-text align-items-center justify-content-center" style="height:200px" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center fadeInUp ftco-animated">
                <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index" asp-controller="Home">Home</a></span> <span>Specialities - @ViewData["Title"]</span></p>
                <h1 class="mb-3 bread">Specialities - @ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<center>
    <div>
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <table class="table-borderless">
                    <tr>
                        <td style="min-width:8em;text-align:justify">
                            <label asp-for="Name" class="control-label" style="margin-top:10px">
                            </label>
                            <label style="margin-top:10px">: </label>
                        </td>
                        <td>
                            <input asp-for="Name" class="form-control" style="text-align:justify;width:30em;" />
                        </td>
                        <td style="min-width:30em;text-align:justify">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-info">Back to List</a>
                </div>
            </form>
        </div>
    </div>
    <br />
</center>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
