@model HospitalScheduling.Models.Speciality


@{
    ViewData["Title"] = "Edit";
    ViewData["Active"] = "Specialities";
}


<div class="hero-wrap" style="background-image: url('images/bg_6.jpg'); background-attachment:fixed;height:200px">
    <div class="overlay"></div>
    <div class="container" style="height:200px">
        <div class="row no-gutters slider-text align-items-center justify-content-center" style="height:200px" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center fadeInUp ftco-animated">
                <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index" asp-controller="Home">Home</a></span> <span>Speciality - @ViewData["Title"]</span></p>
                <h1 class="mb-3 bread">Speciality - @ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>
<br />
<center>
    <hr />
    <div>
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SpecialityID" />
                <table class="table-borderless">
                    <tr>
                        <td style="min-width:8em;text-align:justify">
                            <label asp-for="Name" class="control-label"></label>
                            <label style="margin-top:10px">: </label>
                        </td>
                        <td style="text-align:justify">
                            <input asp-for="Name" class="form-control"   style="text-align:justify;width:30em;" />
                        <td>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-info">Back to List</a>
                </div>
            </form>
        </div>
    </div>
    <br />
</center>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
