@model HollidayForm

@{
    ViewData["Title"] = "HollidayView";
}

<h2>Vacation Registiration</h2>


<form method="post" asp-action="Rsvp">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Datestart">Starting date of vacation:</label>
        <input asp-for="Datestart" class="form-control" placeholder="Please, enter the starting date of your vacation" />
    </div>
    <div class="form-group">
        <label asp-for="Dateend">Ending date of vacation:</label>
        <input asp-for="Dateend" class="form-control" placeholder="Please, enter the ending date of your vacation" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
