@model Vacations

@{
    ViewData["Title"] = "VacationRegistration";
}

<h2>Vacation Registiration</h2>


<form method="post" asp-action="Rsvp">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="StartDate">Starting date of vacation:</label>
        <input asp-for="StartDate" class="form-control" placeholder="Please, enter the starting date of your vacations" />
    </div>
    <div class="form-group">
        <label asp-for="EndDate">Ending date of vacation:</label>
        <input asp-for="EndDate" class="form-control" placeholder="Please, enter the ending date of your vacations" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
