@{
    ViewData["Title"] = "Home Page";
}
<div class="main-div">

    <center><h1>Bem Vindo</h1></center>

</div>
<br />
<div class="left-div">teste</div>
<div class="right-div">teste2</div>
<br />

<div style="height:200px"></div>



