@{
    ViewData["Title"] = "Home Page";
}
<div class="main-div">
    <div style="margin-top:100px;"><center><h1>Bem Vindo</h1></center></div>

</div>
<br />
<div class="left-div">
    <div style="background-color:aquamarine">
        <center>Consultar horários completos</center>
    </div>
</div>
<div class="right-div">
    <div style="background-color:aquamarine">
        <center>Consultar horários Individuais</center>
    </div>

</div>
<br />

<div style="height:200px"></div>



