@model IEnumerable<Nurse>

@{
    ViewData["Title"] = "Employes List";
}

<h2>ViewData[Title]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
</table>